.header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:9;

}
.header ul {
	margin: 0px;
	padding: 0px;
}
.menu {
	border: none;
	border-bottom: 4px solid #fff;
	border-top: 4px solid #fff;
	height: 25px;
	position: absolute;
	right:15px;
	top: 26px;
	width: 35px;
	background: none;
	z-index: 10;
}
.menu:after {
	position: absolute;
	top: 7px;
	right: 0;
	content: '';
	width: 100%;
	height: 4px;
	background: #fff;
}
.top_head {
	position: relative;
	padding:10px 0px;
	background-color: #fff;
}
.top_tuch ul.location_box li {
	list-style: none;
	position: relative;
	color: #555555;
	margin-right: 24px;
	display: inline-block;
}
.top_tuch ul.location_box li span i {
	position: relative;
	color:#5c5de9;
	font-size: 18px;
	margin-right: 8px;
	display: inline-block;
}

.top_tuch ul.location_box li span {
	position: relative;
	color: #222222;
	font-weight: 500;
	margin-right: 6px;
	display: inline-block;
}
.top_tuch ul.location_box li b {
	font-weight: normal;
}
.social_up .social_tuch li {
	position: relative;
	color: #222222;
	font-weight: 500;
	margin-left: 0px;
	list-style: none;
	display: inline-block;
}
.social_up .social_tuch li a {
	margin-left: 15px;
	display: inline-block;
	color:#5c5de9;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}
.social_up {
	text-align: right;
}
.social_up .social_tuch li a:hover {
	color: #5c5de9;
}

.logo a {
	display: inline-block;
}
.navigation, .btn_link, .search {
	display: inline-block;
}
.navigation ul li {
	display: inline-block;
	position: relative;
	font-size: 14px;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.navigation ul > li > a {
	position: relative;
	display: block;
	color: #fff;
	line-height: 30px;
	text-transform:capitalize;
	letter-spacing: 0px;
	opacity: 1;
	font-weight:500;
	padding:30px 15px;
	font-size: 16px;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.navigation ul > li > a:hover{
	color: #5c5de9;
}
.navigation .sub-nav {
	left: 0;
	border-top: 0;
	position: absolute;
	top: 175%;
	width: 200px;
	z-index: 3;
	background-clip: padding-box;
	padding: 0;
	transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-webkit-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-moz-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-ms-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-o-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	opacity: 0;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	background-color: #ffffff;
	border-top: 3px solid #5c5de9;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
}
.navigation li:hover .sub-nav {
    opacity: 1;
    top: 100%;
    transition: top 0.3s ease 0s;
    -webkit-transition: top 0.3s ease 0s;
    visibility: visible;
}
.navigation li:hover .sub-nav {
	opacity: 1;
	top: 100%;
	transition: top 0.3s ease 0s;
	-webkit-transition: top 0.3s ease 0s;
	visibility: visible;
}
.navigation li:last-child .sub-nav{
	    left: auto;
    right: 0;
}
.navigation .sub-nav li {
	display: block;
	float: none;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 0;
	position: relative;
}
.navigation .sub-nav li a {
	position: relative;
	display: block;
	padding: 10px 18px;
	line-height: 24px;
	font-weight: 500;
	font-size: 15px;
	text-transform: capitalize;
	color: #555555;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.navigation ul > li > ul > li > a:hover {
	color: #ffffff;
	background: #5c5de9;
}
.stricky {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	border-bottom: 1px solid #e8f1f7;
}
.stricky .navigation ul > li > a {
	padding: 30px 15px;
	color: #222;
}
.stricky #toggle_res_search{
	color: #222;
}
.stricky .navigation .sub-nav li a{
	    padding: 10px 18px;
}
.btn_link a {
	display: inline-block;
	position: relative;
	padding: 11px 25px 11px;
	line-height: 24px;
	background: #5c5de9;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	border-radius: 4px;
	border: 2px solid #5c5de9;
	text-transform: capitalize;
	transition: all 0.3s;
}
.btn_link a:hover {
	background: none;
	color: #5c5de9;
}

#toggle_res_search {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	margin-top: 1px;
	position: relative;
	z-index: 9;
	margin-left: 20px;
}
#search_form {
	right: 0;
	margin: 0 !important;
	position: absolute;
	width: 300px;
	padding-top: 0;
	top: 100%;
	z-index: 99999;
	max-width: none;
	background: #fff;
	max-height: none;
	border-top: 3px solid #5c5de9;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
	padding: 20px;
}
.search .form-control {
	background-color: transparent;
	border: 1px solid #e0e0e0;
	color: #1E2629;
	padding: 7px 12px;
	height: 40px;
}
.search .input-group {
	position: relative;
}
.search .input-group .btn {
	position: absolute;
	right: 10px;
	top: 50%;
	color: #222;
	border-radius: 0;
	background: transparent;
	transform: translateY(-50%);
	padding: 0;
	font-size: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.navigation ul > li > a {
		padding: 45px 5px;
	}
	.stricky .navigation ul > li > a {
		padding: 30px 5px;
	}
	.btn_link a {
		padding: 10px 18px 10px;
	}
	.button_search {
		margin-left: 10px;
	}
}

@media (max-width: 991px) {
	.top_tuch, .btn_link {
		display: none;
	}
	.social_up {
		text-align: center;
	}
	.logo {
		padding: 25px 0px 0;
	}
	.navigation ul > li > a {
		padding: 25px 12px;
	}
	.stricky {
		position: static;
	}
}

@media (max-width: 767px) {
	.navigation {
		display: none;
		position: absolute;
		top: 0;
		left: 0px;
		width: 100%;
		z-index: 9;
		background: #000;
	}
	.button_search {
		margin-left: 20px;
		position: absolute;
		top: -50px;
		right: 10px;
	}
.header{
	position: static;
	background: #000;
}
	.logo {
		padding: 10px 0px;
	}
	.logo img{
		width: 80%;
	}
	#search_form {
		top: 45px;
	}
	.header ul li {
    float: none !important;
        display: block;
}
.navigation > ul > li > a, .navigation > ul > li:last-child a, .header-1 .navigation > ul > li > a {
    padding: 10px 15px;
    color: #fff;
}
.navigation ul li i {
    color: #fff;
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 9px;
    cursor: pointer;
    pointer-events: none;
}
.navigation .on > .ion-ios-plus-empty:before {
		content: '\f462';
		font-family: "Ionicons";
	}
	.header .navigation .sub-nav {
    width: 100%;
    position: static;
    background: #ccc;
}
.navigation ul li ul {
    display: none;
}
.stricky .navigation ul > li > a {
    padding: 10px 15px;
}
#toggle_res_search{
	top: -10px;
}
}
