{% block footer %}

		<!-- Footer -->
		<footer>
			<div class="main_footer__block pb-0 pt-60">
				<div class="container">
					<div class="row bdr_bottum">
						<div class="col-lg-3">
							<div class="footer_box__block">
								<h4>About Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, architecto, asperiores. Recusandae ea a culpa eligendi, harum amet cumque quod.
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid sequi, fuga rem aperiam expedita ipsum.
								</p>
							</div>
						</div>
						<div class="col-lg-3 mt-sm-30 mt-xs-30">
							<div class="footer_box__block">
								<h4>Latest Blog Post</h4>
								<ul>
									<li>
										<a href="#">Start your own agency</a>
									</li>
									<li>
										<a href="#">How to cool down quality</a>
									</li>
									<li>
										<a href="#">Make something awesome</a>
									</li>
									<li>
										<a href="#">Plane your summer vacation</a>
									</li>
									<li>
										<a href="#">There are sunlight to enjoy</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 mt-xs-30 mt-sm-30">
							<div class="footer_box__block">
								<h4>Our Project</h4>
								<ul>
									<li>
										<a href="#">Go get an ice-cream</a>
									</li>
									<li>
										<a href="#">Become the best version</a>
									</li>
									<li>
										<a href="#">Eat, Sleep and have fun</a>
									</li>
									<li>
										<a href="#">Start the journy to the top</a>
									</li>
									<li>
										<a href="#">Can you do this for us?</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 mt-sm-30 mt-xs-30">
							<div class="footer_box__block address-box">
								<h4>Contact info</h4>
								<ul>
									<li>
										<i class="fa fa-phone"></i>
										<p>
											Call Us +56 (0) 012 345 6789
										</p>
									</li>
									<li>
										<i class="fa fa-envelope"></i>
										<p>
											<a href="mailto:info@example.com">business@support.com</a>
										</p>
									</li>
									<li>
										<i class="fa fa-map-marker"></i>
										<p>
											123 Main Street, St. NW Ste, 1 Washington, DC,USA.
										</p>
									</li>
									<li>
										<i class="fa fa-clock"></i>
										<p>
											Monday-Firday, 9am-6pm;
											<br>
											Sunday Closed
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row same_style">

						<div class="col-lg-5">
							<div class="news_section">
								<h4>Subscribe Us</h4>
								<form id="#" class="newsletter-form">
									<div class="input-group">
										<input type="email" value="" name="email" placeholder="Your Email" class="form-control input-lg">
										<span class="input-group-btn">
											<button class="btn btn-colored" type="submit">
												Subscribe
											</button> </span>
									</div>
								</form>
							</div>
						</div>

						<div class="col-lg-3 offset-lg-1  mt-sm-30 mt-xs-30">
							<div class="call_now">
								<h4>Call Us Now</h4>
								<ul>
									<li>
										+123 456 7890
									</li>
									<li>
										+123 456 7890
									</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-3 mt-sm-30 mt-xs-30">
							<div class="footer_social" style="font:normal normal normal 20px/1 FontAwesome;">
								<h4>Connect With Us</h4>
								<ul>
									<li>
										<a href="#!"><i class="fab fa-facebook"></i></a>
									</li>
									<li>
										<a href="#!"><i class="fab fa-twitter"></i></a>
									</li>
									<li>
										<a href="#!"><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="#!"><i class="fab fa-pinterest"></i></a>
									</li>
								</ul>
							</div>
						</div>

					</div>

				</div>
				<div id="bottom" class="clearfix style-1 copyriight_block ptb-20">
					<div id="bottom-bar-inner" class="container">
						<div class="bottom-bar-inner-wrap">
							<div class="bottom-bar-content">
								<div id="copyright">
									© Copyrights 2018 Discipline. All Rights Reserved
								</div>
								<!-- /#copyright -->
							</div>
							<!-- /.bottom-bar-content -->
							<div class="bottom-bar-menu">
								<ul class="bottom-nav">
									<li>
										<a href="#/">HISTORY</a>
									</li>
									<li>
										<a href="#/">FAQ</a>
									</li>
									<li>
										<a href="#/">EVENTS</a>
									</li>
								</ul>
							</div>
							<!-- /.bottom-bar-menu -->
						</div>
					</div>
				</div>

			</div>

		</footer>
    <!-- Footer_End -->
        {% endblock %}