{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
        <h1 class="h1-responsive font-weight-bold text-center my-4">About Us</h1>
        <img src="{% static 'images/background.jpeg' %}"class="img-responsive" alt="about-img">
        <p>Welcome to The Doon School. We are a school which specializes in all boys boarding education for pupils aged 12-18.
           The school is probably the only ‘All India’ school with applications from almost every state each year, as well as from Indian families overseas.
           Established in 1935, The Doon School is one of India’s finest schools, with a strong intellectual heartbeat. 
           The Doon School is a full boarding school for boys only and not simply a school which welcomes boarders. 
           The school’s beautiful seventy acre campus with a vast range of flora, fauna and bird life provide all boys with ample green space and fresh air where they are able to live and learn.
           It is an environment rarely offered by schools in large and small cities in India, or indeed some other countries. 
           All boys are able to seek advice from the teaching staff, the Wellness Centre and the school counsellor living on the school campus throughout the seven day week. 
           Boys discover that they have much more time to study and pursue their wider interests. 
           There is no wasted time travelling to learn Sport, Art, Music, Drama and benefit from Careers Guidance as well as other necessary university and college entrance preparation.</p>
 </div>
{% endblock %}