{% extends 'base.html' %}
{% block content %}
<div class="jumbotron container" style="background-color: aquamarine;">
    <h3 style=" text-align: center;">Admission Process & FAQ’s</h3>
    <div class="row">
        <div class="col-md-6">
            <h5>Location and Strength of School</h5><hr>
                <ul>
                    <li>Opposite H.No,2900 Phase 7 Mohali</li>
                    <li>450 Students</li>
                    <li>Play class to U.K.G</li>
                    <li>Established 2005</li>                    
                </ul>
        </div>
        <div class="col-md-6">
                <h5>Communication Channels</h5><hr>
                    <ul>
                        <li>School Website</li>
                        <li>School Almanac </li>
                        <li>Regular P. T.M</li>
                        <li>Appointment can be fixed </li>                    
                    </ul>
        </div>
        <div class="col-md-6">
                <h5>Admissions</h5><hr>
                <h6>What are the entry level?</h6>
                <p>The entry class level is Play- Class, ideally the child should be 2 + as on 31st March for the entry level. </p>
                <h6>How are the classes arranged?</h6>
                <li> Play Class • Nursery • L.K.G • U.K.G </li>
                <h6>Does the school provide support for the students with special needs and learning disabilities? </h6>
                <p>The school counselor/ special educator provides guidance and support to the students with learning disabilities and special needs. </p>
        </div>
        <div class="col-md-6">
                <h5>What health care is available at the school?</h5><hr>
                   <p>There is a qualified doctor on call . A general dental, eye & health-checkup is coordinated. </p>
        </div>
        <div class="col-md-6">
                <h5>Location and Strength of School</h5><hr>
                    <ul>
                        <li>Opposite H.No,2900 Phase 7 Mohali</li>
                        <li>450 Students</li>
                        <li>Play class to U.K.G</li>
                        <li>Established 2005</li>                    
                    </ul>
            </div>
    </div>
    

</div>
<div class="jumbotron container" style="background-color: #70b4ec;">
    <h3 style=" text-align: center;">Fee Structure </h3>
    <div class="row">
        <div class="col-md-6">
            <h4>FEE TO BE PAID FOR THE SESSION 2019-20</h4>
            <h1>Tuition Fee</h1>
            <h6>To be paid on quarterly basis </h6>
        </div>
        <div class="col-md-6">
            <h1>6025</h1>
        </div>
        <div class="col-md-6">
                <h1>Annual Fee</h1>
                <h6>To be paid on quarterly basis  </h6>
        </div>
        <div class="col-md-6">
                <h1>5500</h1>
        </div>
    </div>
</div>
<div class="jumbotron container" style="background-color: #e17fff;">
    <h3 style="text-align: center;">Transport Fee</h3>
    <div class="row">
        <div class="col-md-6">
            <h6>TO BE PAID ON QUARTERLY BASIS SESSION 2019-20</h6>
            <h2>Mohali</h2>
        </div>
        <div class="col-md-6">1460</div><hr>
        <div class="col-md-6">
            <h2>Chandigarh</h2>
        </div>
        <div class="col-md-6">1660</div>
        <div class="col-md-6">
            <h2>Kharar</h2>
        </div>
        <div class="col-md-6">1760</div>
    
    </div>
</div>
<div class="jumbotron container" style="background-color: #aeff7f; text-align: center;">
    <h3>Withdrawal</h3>
    <p>Parents/Guardians wishing to withdraw their ward must give one calendar month’s notice in writing to the Principal or make a pre-payment of one month’s tuition fee in lieu of the afore-mentioned notice. However in case of sudden transfer of military personnel, the required notice may be waived at the Principal’s discretion. </p>
</div>
{% endblock %}