{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--  Main Banner Start Here-->
<div class="main-banner banner_up" style="height: 100vh;">
    <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-129"  >
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/slider1s.jpg' %}"  alt=""  class="rev-slidebg" >
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title tp-resizeme "
                    id="slide-129-layer-1"
                    data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                    data-y="['top','top','top','center']" data-voffset="['230','135','50','0']"
                    data-fontsize="['50','50','50','30']"
                    data-lineheight="['55','55','55','35']"
                    data-width="['650','650','650','420']"
                    data-height="none"
                    data-whitespace="normal"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                    data-start="1000"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on" >
                        <div class="banner-text">
                            <span class="sub-text">we are here to help you</span>
                            <h2> Welcome To Memozin</h2>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.
                            </p>
                            <a class="btn-text" href="#"> Read More</a>
                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-130" data-title="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/background.jpeg' %}"  alt=""   class="rev-slidebg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme "
                    id="slide-130-layer-1"
                    data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                    data-y="['top','top','top','center']" data-voffset="['230','135','50','0']"
                    data-fontsize="['50','50','50','30']"
                    data-lineheight="['55','55','55','35']"
                    data-width="['650','650','650','420']"
                    data-height="none"
                    data-whitespace="normal"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                    data-start="1000"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on">
                        <div class="banner-text">
                            <span class="sub-text">we are here to help you</span>
                            <h2>World’s Best School</h2>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.
                            </p>
                            <a class="btn-text" href="#"> Read More</a>
                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-131">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/background.jpeg' %}"  alt=""   class="rev-slidebg " >
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme "
                    id="slide-131-layer-1"
                    data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                    data-y="['top','top','top','center']" data-voffset="['230','135','50','0']"
                    data-fontsize="['50','50','50','30']"
                    data-lineheight="['55','55','55','35']"
                    data-width="['650','650','650','420']"
                    data-height="none"
                    data-whitespace="normal"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                    data-start="1000"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on">
                        <div class="banner-text">
                            <span class="sub-text">we are here to help you</span>
                            <h2>Education For Everyone</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.
                            </p>
                            <a class="btn-text" href="#"> Read More </a>
                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</div>
<!--  Main Banner End Here-->
<!-- Section -->
<section class="featured-service pt-xs-60">
    <div class="container">
        <div class="featured_box">
            <div class="row">
                <div class="col-lg-4 mb-30 mb-sm-60 mb-xs-60">
                    <div class="featured-service-item pb-2 text-center">
                        <span class="featured-service-icon"><img src="http://theembazaar.com/demo/goldey/memozin/assets/images/icon1.png" alt=""></span>
                        <h3>Course Facilities</h3>
                        <p class="mb-0">
                            Artbees is humbled and proud to be showcased in many criti allyacclaimed blogs and online magazines.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mb-30 mb-sm-60 mb-xs-60">
                    <div class="featured-service-item pb-2 text-center">
                        <span class="featured-service-icon"><img src="http://theembazaar.com/demo/goldey/memozin/assets/images/icon2.png" alt=""></span>
                        <h3>Modern Library</h3>
                        <p class="mb-0">
                            Artbees is humbled and proud to be showcased in many criti allyacclaimed blogs and online magazines.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mb-30">
                    <div class="featured-service-item pb-2 text-center">
                        <span class="featured-service-icon"><img src="http://theembazaar.com/demo/goldey/memozin/assets/images/icon3.png" alt=""></span>
                        <h3>Industrial Leader</h3>
                        <p class="mb-0">
                            Artbees is humbled and proud to be showcased in many criti allyacclaimed blogs and online magazines.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Section_End -->

<!-- About -->
<section class="padding ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="about_text">
                    <span>About Something</span>
                    <h2>Welcome to Readycue is a Specialized Business Consulting</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus eveniet laboriosam molestias omnis neque.
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus eveniet laboriosam molestias exercitationem omnis neque, ad reprehenderit voluptatem.
                    </p>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about_img">
                    <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/men-laptop.png" alt="">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 mt-60 mt-xs-30 mt-sm-30">
                <div class="about_point">
                    <i class="fas fa-trophy"></i>
                    <h3>Award</h3>
                    <span class="counter" data-count="67">0</span>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-60 mt-xs-30 mt-sm-30">
                <div class="about_point">
                    <i class="far fa-clipboard"></i>
                    <h3>Projects</h3>
                    <span class="counter" data-count="3562">0</span>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-60 mt-xs-30 mt-sm-30">
                <div class="about_point">
                    <i class="fas fa-smile-wink"></i>
                    <h3>Clients</h3>
                    <span class="counter" data-count="1054">0</span>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-60 mt-xs-30 mt-sm-30">
                <div class="about_point">
                    <i class="far fa-heart"></i>
                    <h3>Likes</h3>
                    <span class="counter" data-count="1904">0</span>

                </div>
            </div>

        </div>

    </div>
</section>
<!-- About_ENd -->

<!-- Our_Courses -->
<section class="padding ptb-xs-60 gray-bg">
    <div class="container">
        <div class="row mb-60">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="heading_section">
                    <h2>Our Courses</h2>
                    <div class="line_heading">
                        <span class="line_bar"></span>
                        <span class="line_bar"></span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus eveniet laboriosam molestias omnis neque.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="course_box img-scale">
                    <div class="course_figure">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/service/img_1.jpg" alt="" />
                        <div class="apply_box d-flex align-items-center">
                            <div class="full_width">
                                <a href="#" class="btn-text">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="course_details">
                        <h3><a href="#">Computer Science</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia,
                        </p>
                        <div class="info_course">
                            <div class="box_info">
                                <i class="fa fa-user" aria-hidden="true"></i><span>Students</span>
                            </div>

                            <div class="box_info">
                                <i class="fa fa-star-o" aria-hidden="true"></i><span>5	Ratings </span>
                            </div>

                            <div class="box_info float-right">
                                <span class="price_course bg_orenge">98$</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-xs-30">
                <div class="course_box img-scale">
                    <div class="course_figure">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/service/img_2.jpg" alt="" />
                        <div class="apply_box d-flex align-items-center">
                            <div class="full_width">
                                <a href="#" class="btn-text">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="course_details">
                        <h3><a href="#">Electrical Engineering</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia,
                        </p>
                        <div class="info_course">
                            <div class="box_info">
                                <i class="fa fa-user" aria-hidden="true"></i><span>Students</span>
                            </div>

                            <div class="box_info">
                                <i class="fa fa-star-o" aria-hidden="true"></i><span>5	Ratings </span>
                            </div>

                            <div class="box_info float-right">
                                <span class="price_course bg_green">Free</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-sm-30 mt-xs-30">
                <div class="course_box img-scale">
                    <div class="course_figure">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/service/img_3.jpg" alt="" />
                        <div class="apply_box d-flex align-items-center">
                            <div class="full_width">
                                <a href="#" class="btn-text">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="course_details">
                        <h3><a href="#">Mechanical Engineering</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia,
                        </p>
                        <div class="info_course">
                            <div class="box_info">
                                <i class="fa fa-user" aria-hidden="true"></i><span>Students</span>
                            </div>

                            <div class="box_info">
                                <i class="fa fa-star-o" aria-hidden="true"></i><span>5	Ratings </span>
                            </div>

                            <div class="box_info float-right">
                                <span class="price_course bg_orenge">62$</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-30">
                <div class="course_box img-scale">
                    <div class="course_figure">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/service/img_4.jpg" alt="" />
                        <div class="apply_box d-flex align-items-center">
                            <div class="full_width">
                                <a href="#" class="btn-text">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="course_details">
                        <h3><a href="#">App Developer</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia,
                        </p>
                        <div class="info_course">
                            <div class="box_info">
                                <i class="fa fa-user" aria-hidden="true"></i><span>Students</span>
                            </div>

                            <div class="box_info">
                                <i class="fa fa-star-o" aria-hidden="true"></i><span>5	Ratings </span>
                            </div>

                            <div class="box_info float-right">
                                <span class="price_course bg_orenge">78$</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-30">
                <div class="course_box img-scale">
                    <div class="course_figure">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/service/img_5.jpg" alt="" />
                        <div class="apply_box d-flex align-items-center">
                            <div class="full_width">
                                <a href="#" class="btn-text">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="course_details">
                        <h3><a href="#">Website Development</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia,
                        </p>
                        <div class="info_course">
                            <div class="box_info">
                                <i class="fa fa-user" aria-hidden="true"></i><span>Students</span>
                            </div>

                            <div class="box_info">
                                <i class="fa fa-star-o" aria-hidden="true"></i><span>5	Ratings </span>
                            </div>

                            <div class="box_info float-right">
                                <span class="price_course bg_green">Free</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-30">
                <div class="course_box img-scale">
                    <div class="course_figure">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/service/img_6.jpg" alt="" />
                        <div class="apply_box d-flex align-items-center">
                            <div class="full_width">
                                <a href="#" class="btn-text">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="course_details">
                        <h3><a href="#">Graphics Technologies</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia,
                        </p>
                        <div class="info_course">
                            <div class="box_info">
                                <i class="fa fa-user" aria-hidden="true"></i><span>Students</span>
                            </div>

                            <div class="box_info">
                                <i class="fa fa-star-o" aria-hidden="true"></i><span>5	Ratings </span>
                            </div>

                            <div class="box_info float-right">
                                <span class="price_course bg_orenge">52$</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!-- Our_Courses_End -->

<!-- Section -->
<section class="padding ptb-xs-40 colume_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="expert_text light-color">
                    <h2>Like to become an instructor ?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    </p>
                </div>
            </div>
            <div class="col-lg-3 d-lg-flex align-items-lg-center justify-content-lg-end mt-xs-30 mt-sm-30">
                <a href="{% url 'frontend:career' %}" class="btn-text">Get Strated Now</a>
            </div>
        </div>
    </div>
</section>
<!-- Section_ENd -->

<!-- COURSE CATEGORIES -->
<section class="padding ptb-xs-60">
    <div class="container">
        <div class="row mb-60">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="heading_section">
                    <h2>Course Categories</h2>
                    <div class="line_heading">
                        <span class="line_bar"></span>
                        <span class="line_bar"></span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus eveniet laboriosam molestias omnis neque.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="categories_box border_icon_green">
                    <div class="icon_categor">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>
                    <div class="categori_text">
                        <h3>Business</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-xs-30">
                <div class="categories_box border_icon_red">
                    <div class="icon_categor">
                        <i class="fa fa-calculator" aria-hidden="true"></i>
                    </div>
                    <div class="categori_text">
                        <h3>Accounting</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-sm-30 mt-xs-30">
                <div class="categories_box border_icon_blue">
                    <div class="icon_categor">
                        <i class="ion-ios-flask"></i>
                    </div>
                    <div class="categori_text">
                        <h3>Science & Technology</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-30">
                <div class="categories_box border_icon_red">
                    <div class="icon_categor">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                    </div>
                    <div class="categori_text">
                        <h3>Health & Psychology</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-30">
                <div class="categories_box border_icon_blue">
                    <div class="icon_categor">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                    </div>
                    <div class="categori_text">
                        <h3>Food & Drinking</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-30">
                <div class="categories_box border_icon_green">
                    <div class="icon_categor">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>
                    <div class="categori_text">
                        <h3>Creative Arts & Med...</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- COURSE CATEGORIES_End -->

<!-- Upcoming_Event -->
<section class="padding ptb-xs-60 events-area gray-bg">
    <div class="container">
        <div class="row mb-60">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="heading_section">
                    <h2>Upcoming Events</h2>
                    <div class="line_heading">
                        <span class="line_bar"></span>
                        <span class="line_bar"></span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus eveniet laboriosam molestias omnis neque.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 events-full-box">
                <div class="events-single-box">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/img1.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="col-md-7 event-info">
                            <h3>Basic UI &amp; UX Design for new development</h3>
                            <p class="events-time">
                                <span> <i class="fa fa-calendar event-icon"></i> 1st January </span>
                                <span> <i class="fa fa-clock-o event-icon"></i> 8:00am - 5:00pm </span>
                                <span> <i class="fa fa-map-marker event-icon"></i> New York </span>
                            </p>

                            <p>
                                Lorem ipsum dolor sit amet mollis felis dapibus arcur donec viverra phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec nisi et. Ac penatibus aenean laoreet Pede enim nunc ultricies quis rhoncus.
                            </p>

                            <a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 events-full-box">
                <div class="events-single-box">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/img2.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="col-md-7 event-info">
                            <h3>Digital Art &amp; 3D Model – a future for film company</h3>
                            <p class="events-time">
                                <span> <i class="fa fa-calendar event-icon"></i> 1st January </span>
                                <span> <i class="fa fa-clock-o event-icon"></i> 8:00am - 5:00pm </span>
                                <span> <i class="fa fa-map-marker event-icon"></i> New York </span>
                            </p>

                            <p>
                                Lorem ipsum dolor sit amet mollis felis dapibus arcur donec viverra phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec nisi et. Ac penatibus aenean laoreet Pede enim nunc ultricies quis rhoncus.
                            </p>

                            <a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Upcoming_Event_End -->

<!-- Testimonial -->
<section class="padding ptb-xs-60 testimonial_home">
    <div class="container">
        <div class="row mb-60 light-color">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="heading_section">
                    <h2>Students Review</h2>
                    <div class="line_heading">
                        <span class="line_bar"></span>
                        <span class="line_bar"></span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus eveniet laboriosam molestias omnis neque.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="testimonial_slider owl-carousel">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-5 padding_left">
                                <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/testimonial/1.jpg" alt="">
                            </div>
                            <div class="col-lg-7 padding_right light-color">
                                <p>
                                    Procuring continued suspicion its ten. Pursuit brother are had fifteen distant has. Early had add equal china quiet visit. Appear an manner as no limits either praise..
                                </p>
                                <h4>Josh Davey</h4>
                                <span>Student</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-lg-5 padding_left">
                                <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/testimonial/2.jpg" alt="">
                            </div>
                            <div class="col-lg-7 padding_right light-color">
                                <p>
                                    Procuring continued suspicion its ten. Pursuit brother are had fifteen distant has. Early had add equal china quiet visit. Appear an manner as no limits either praise..
                                </p>
                                <h4>Anna Peterson</h4>
                                <span>Student</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-lg-5 padding_left">
                                <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/testimonial/3.jpg" alt="">
                            </div>
                            <div class="col-lg-7 padding_right light-color">
                                <p>
                                    Procuring continued suspicion its ten. Pursuit brother are had fifteen distant has. Early had add equal china quiet visit. Appear an manner as no limits either praise..
                                </p>
                                <h4>Kyle Coetzer</h4>
                                <span>Student</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- Testimonial_End -->

<!-- Team -->
<section class="padding ptb-xs-60">
    <div class="container">
        <div class="row mb-60">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="heading_section">
                    <h2>Our Teacher</h2>
                    <div class="line_heading">
                        <span class="line_bar"></span>
                        <span class="line_bar"></span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus eveniet laboriosam molestias omnis neque.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 mb-xs-30 mb-sm-30">
                <div class="team_box">

                    <div class="team_picher">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/team/team1.jpg" alt="" />
                        <div class="show_profile d-flex align-items-center">
                            <a href="#"><i class="fa fa-edit"></i> View Profile</a>
                        </div>
                    </div>

                    <div class="team_detail">
                        <h3>Daryl Mitchell</h3>
                        <span>Professor, Harvard College </span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus.
                        </p>
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-xs-30 mb-sm-30">
                <div class="team_box">

                    <div class="team_picher">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/team/team2.jpg" alt="" />
                        <div class="show_profile d-flex align-items-center">
                            <a href="#"><i class="fa fa-edit"></i> View Profile</a>
                        </div>
                    </div>

                    <div class="team_detail">
                        <h3>Tim Seifert</h3>
                        <span>Professor, Harvard College </span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus.
                        </p>
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-xs-30">
                <div class="team_box">

                    <div class="team_picher">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/team/team3.jpg" alt="" />
                        <div class="show_profile d-flex align-items-center">
                            <a href="#"><i class="fa fa-edit"></i> View Profile</a>
                        </div>
                    </div>

                    <div class="team_detail">
                        <h3>Travis Head</h3>
                        <span>Professor, Harvard College </span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus.
                        </p>
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_box">

                    <div class="team_picher">
                        <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/team/team4.jpg" alt="" />
                        <div class="show_profile d-flex align-items-center">
                            <a href="#"><i class="fa fa-edit"></i> View Profile</a>
                        </div>
                    </div>

                    <div class="team_detail">
                        <h3>Marcus Harris</h3>
                        <span>Professor, Harvard College </span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus.
                        </p>
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#" tabindex="0"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!-- Team_End -->

<!-- Blog -->
<section class="padding ptb-xs-40 gray-bg">
    <div class="container">
        <div class="row mb-60">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="heading_section">
                    <h2>Letest News</h2>
                    <div class="line_heading">
                        <span class="line_bar"></span>
                        <span class="line_bar"></span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus est eum quia eos illum mollitia, delectus eveniet laboriosam molestias omnis neque.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-xs-30 mb-sm-30">
                <div class="blog_box img-scale">
                    <div class="post_img">
                        <figure>
                            <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/blog/home_blog_1.jpg" alt="">
                        </figure>
                    </div>
                    <div class="post_date">
                        <span>18 Feb 2019</span>
                    </div>
                    <div class="post_detail">
                        <h3><a href="#">Better Nature For Better World</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, ligula vestibulum nunc dis ipsum, et nam, cras nec lacus amet, ut mauris
                        </p>
                        <a href="#" class="font_wid">Read More</a>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-xs-30 mb-sm-30">
                <div class="blog_box img-scale">
                    <div class="post_img">
                        <figure>
                            <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/blog/home_blog_2.jpg" alt="">
                        </figure>
                    </div>
                    <div class="post_date">
                        <span>18 Feb 2019</span>
                    </div>
                    <div class="post_detail">
                        <h3><a href="#">Better Nature For Better World</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, ligula vestibulum nunc dis ipsum, et nam, cras nec lacus amet, ut mauris
                        </p>
                        <a href="#" class="font_wid">Read More</a>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog_box img-scale">
                    <div class="post_img">
                        <figure>
                            <img src="http://theembazaar.com/demo/goldey/memozin/assets/images/blog/home_blog_3.jpg" alt="">
                        </figure>
                    </div>
                    <div class="post_date">
                        <span>18 Feb 2019</span>
                    </div>
                    <div class="post_detail">
                        <h3><a href="#">Better Nature For Better World</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, ligula vestibulum nunc dis ipsum, et nam, cras nec lacus amet, ut mauris
                        </p>
                        <a href="#" class="font_wid">Read More</a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Blog_ENd -->

{% endblock %}